#### This notebook is to create the preparation information and sample information files for Qiita, as well as the mapping file for Qiime.

In [1]:
import numpy as np
import pandas as pd

## create preparation_info document

In [2]:
info = pd.read_csv('../data/Demultiplex_Sheet.txt', sep='\t')

In [3]:
info = info.sort_values(['#SampleID'])
info.head()

,#SampleID,BarcodeSequence,LinkerPrimerSequence,ReversePrimer,Description
60,Orwoll.BI0023.BI,TCTGGTGACATT,GGACTACHVGGGTWTCTAAT,GTGCCAGCMGCCGCGGTAA,Orwoll.BI0023.BI
1129,Orwoll.BI0023.BI,TCTGGTGACATT,GGACTACHVGGGTWTCTAAT,GTGCCAGCMGCCGCGGTAA,Orwoll.BI0023.BI
649,Orwoll.BI0056.BI,CAAGCATGCCTA,GGACTACHVGGGTWTCTAAT,GTGCCAGCMGCCGCGGTAA,Orwoll.BI0056.BI
475,Orwoll.BI0056.BI,CAAGCATGCCTA,GGACTACHVGGGTWTCTAAT,GTGCCAGCMGCCGCGGTAA,Orwoll.BI0056.BI
75,Orwoll.BI0131.BI,CTATTTGCGACA,GGACTACHVGGGTWTCTAAT,GTGCCAGCMGCCGCGGTAA,Orwoll.BI0131.BI

In [4]:
info = info.drop_duplicates(subset=['#SampleID', 'ReversePrimer'])

In [5]:
info.head()

,#SampleID,BarcodeSequence,LinkerPrimerSequence,ReversePrimer,Description
60,Orwoll.BI0023.BI,TCTGGTGACATT,GGACTACHVGGGTWTCTAAT,GTGCCAGCMGCCGCGGTAA,Orwoll.BI0023.BI
649,Orwoll.BI0056.BI,CAAGCATGCCTA,GGACTACHVGGGTWTCTAAT,GTGCCAGCMGCCGCGGTAA,Orwoll.BI0056.BI
75,Orwoll.BI0131.BI,CTATTTGCGACA,GGACTACHVGGGTWTCTAAT,GTGCCAGCMGCCGCGGTAA,Orwoll.BI0131.BI
932,Orwoll.BI0153.BI,ATCGGCGTTACA,GGACTACHVGGGTWTCTAAT,GTGCCAGCMGCCGCGGTAA,Orwoll.BI0153.BI
833,Orwoll.BI0215.BI,CCTCTCGTGATC,GGACTACHVGGGTWTCTAAT,GTGCCAGCMGCCGCGGTAA,Orwoll.BI0215.BI

In [6]:
info.shape[0]

600

In [7]:
n = info.shape[0]
data = {'#SampleID': info.loc[:,'#SampleID'].str[7:13].values, # .values takes only value not index
       'Barcode': info.loc[:,'BarcodeSequence'].values,
       'LinkerPrimerSequence': info.loc[:, 'LinkerPrimerSequence'].values,
       'Description': info.loc[:,'Description'].values,
       'Experiment_Design_Description': np.repeat(
           '16S stool samples sequenced for MrOS Vitamin D study', n),
       'Library_Construction_Protocol': np.repeat('16S rRNA v4', n),
       'Linker': np.repeat('GT', n),
       'Platform': np.repeat('Illumina', n),
       'Center_Name': info.loc[:,'#SampleID'].str[14:16].values,
       'Center_Project': np.repeat('MrOS', n),
       'Instrument_Model': np.repeat('Illumina MiSeq', n)}
prep_info = pd.DataFrame(data, columns=['#SampleID', 'Barcode', 'LinkerPrimerSequence', 
                                        'Description', 
                                        'Experiment_Design_Description',
                                        'Library_Construction_Protocol', 'Linker', 'Platform',
                                        'Center_Name', 'Center_Project', 'Instrument_Model'])

In [8]:
prep_info.shape

(600, 11)

In [9]:
prep_info.head(10)

,#SampleID,Barcode,LinkerPrimerSequence,Description,Experiment_Design_Description,Library_Construction_Protocol,Linker,Platform,Center_Name,Center_Project,Instrument_Model
0,BI0023,TCTGGTGACATT,GGACTACHVGGGTWTCTAAT,Orwoll.BI0023.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
1,BI0056,CAAGCATGCCTA,GGACTACHVGGGTWTCTAAT,Orwoll.BI0056.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
2,BI0131,CTATTTGCGACA,GGACTACHVGGGTWTCTAAT,Orwoll.BI0131.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
3,BI0153,ATCGGCGTTACA,GGACTACHVGGGTWTCTAAT,Orwoll.BI0153.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
4,BI0215,CCTCTCGTGATC,GGACTACHVGGGTWTCTAAT,Orwoll.BI0215.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
5,BI0353,TGCCATCTGAAT,GGACTACHVGGGTWTCTAAT,Orwoll.BI0353.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
6,BI0371,GAATAGAGCCAA,GGACTACHVGGGTWTCTAAT,Orwoll.BI0371.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
7,BI0372,ATGCCAACCAAC,GGACTACHVGGGTWTCTAAT,Orwoll.BI0372.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
8,BI0380,GAGTCGCGTTTA,GGACTACHVGGGTWTCTAAT,Orwoll.BI0380.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
9,BI0389,GCTATGGACCGA,GGACTACHVGGGTWTCTAAT,Orwoll.BI0389.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq

In [10]:
# fix mismatch sample name 'BI0778' should be 'BIO778' (Nora's email on08/07/2017)
prep_info = prep_info.replace(to_replace='BIO778', value='BI0778')

## Create sample_info document

In [11]:
# note AMPHIT_15SD was missing in Nov6th metadata, thus copied from file Variable_sleepV4updated.csv

In [12]:
samples = pd.read_csv('../data/SleepMetadataV4_Nov6th2017.csv', sep=',')

In [13]:
samples.shape

(600, 38)

In [14]:
# error in categories of SLEEPHRS (additional space in second '2')
samples.SLEEPHRS.value_counts()

# correct
samples.loc[samples.SLEEPHRS == '2: 7 HRS ', 'SLEEPHRS'] = '2: 7 HRS'

# check
samples.SLEEPHRS.value_counts()

1: <=6 HRS    153
2: 7 HRS      144
3:>=8 HRS     128
Name: SLEEPHRS, dtype: int64

In [15]:
samples.TUDRAMT.value_counts() # alcohol drinking variable is wrong

M:Not Applicable                   231
4: 6-13 drinks per week            106
3: 3-5 drinks per week              90
1: Less than one drink per week     78
2: 1-2drinks per week               66
5: 14 or more drinks per week       27
K:Main Var:DK/UN                     2
Name: TUDRAMT, dtype: int64

In [16]:
# replace alcohol drinking variable
tmp = pd.read_csv('../data/mapping_vitd_v4.txt', sep='\t')
tmp = tmp[['ID', 'TUDRAMT']]
tmp.rename(columns={'TUDRAMT':'TUDRAMT_REVISED'}, inplace=True)

In [17]:
tmp.shape

(599, 2)

In [18]:
tmp.TUDRAMT_REVISED.value_counts()

0:None drinker                     230
4: 6-13 drinks per week            106
3: 3-5 drinks per week              90
1: Less than one drink per week     78
2: 1-2drinks per week               66
5: 14 or more drinks per week       27
.                                    2
Name: TUDRAMT_REVISED, dtype: int64

In [19]:
tmp.head(3)

       ID                  TUDRAMT_REVISED
0  BI0023  1: Less than one drink per week
1  BI0056                   0:None drinker
2  BI0131                   0:None drinker

In [20]:
samples.head(3)

,ID,AMPHIT_15SD,SLSLPHRS,SLEEPHRS,AMAMPT,AMPHIT,AMFVT,MIDATA,GIERACE,V4DATE,...,PQPEFFCY,PQPEFFIC,PQPSQI,PQBADSLP,HWBMI,TURSMOKE,M1ADEPR,M1BENZO,AMAMPT_C1,AMFVT_C1
0,BI0023,NaN,6.0,1: <=6 HRS,NaN,NaN,NaN,1: Yes,1:WHITE,9/10/15,...,93.33,0:>85% EFFICIENCY,4.0,0: No,28.890119,M:Not Applicable,0: No,0: No,NaN,NaN
1,BI0056,0.0,NaN,NaN,176.175855,11.959884,1049.233855,1: Yes,1:WHITE,5/28/15,...,60,3:<65% EFFICIENCY,9.0,1: Yes,28.539796,1:PAST,0: No,0: No,1.0,1.0
2,BI0131,0.0,NaN,NaN,271.742879,10.997060,2069.032006,1: Yes,1:WHITE,4/14/15,...,90,0:>85% EFFICIENCY,2.0,0: No,25.014242,1:PAST,0: No,0: No,1.0,1.0

In [21]:
samples = pd.merge(samples, tmp, left_on='ID', right_on='ID')

In [22]:
samples.columns

Index(['ID', 'AMPHIT_15SD', 'SLSLPHRS', 'SLEEPHRS', 'AMAMPT', 'AMPHIT',
       'AMFVT', 'MIDATA', 'GIERACE', 'V4DATE', 'SITE', 'GIMSTAT', 'MHDIAB',
       'MHRHEU1', 'MHOA', 'MHCHF', 'MHMI', 'MHDEPR', 'MHDEPRT', 'TUDRAMT',
       'PQPSLMED', 'PQPSQUAL', 'HWWGT', 'V4AGE1', 'HWHGT', 'PASCORE', 'QLCOMP',
       'PQPSLDUR', 'PQPEFFCY', 'PQPEFFIC', 'PQPSQI', 'PQBADSLP', 'HWBMI',
       'TURSMOKE', 'M1ADEPR', 'M1BENZO', 'AMAMPT_C1', 'AMFVT_C1',
       'TUDRAMT_REVISED'],
      dtype='object')

In [23]:
samples.shape

(599, 39)

In [24]:
len(pd.unique(samples.ID))

599

In [25]:
# reference: http://www.latlong.net/
Latitude = []
Longitude = []
sites = samples.loc[:, 'SITE']
for i in range(samples.shape[0]):
    if sites[i] == 'Birmingham':
        latitude = '33.520661'
        longitude = '-86.80249'
    elif sites[i] == 'San Diego':
        latitude = '32.715738'
        longitude = '-117.1611'
    elif sites[i] == 'Pittsburgh':
        latitude = '40.440625'
        longitude = '-79.99589'
    elif sites[i] == 'Palo Alto':
        latitude = '37.441883'
        longitude = '-122.143'
    elif sites[i] == 'Portland':
        latitude = '45.523062'
        longitude = '-122.6765'    
    elif sites[i] == 'Minneapolis':
        latitude = '44.977753'
        longitude = '-93.26501'  
    Latitude.append(latitude)
    Longitude.append(longitude)

In [26]:
# simple check
print(samples['SITE'][[1,90,200,300,400, 500]])
print(np.array(Latitude)[[1,90,200,300,400, 500]])
print(np.array(Longitude)[[1,90,200,300,400, 500]])

1       Birmingham
90     Minneapolis
200      Palo Alto
300     Pittsburgh
400       Portland
500      San Diego
Name: SITE, dtype: object
['33.520661' '44.977753' '37.441883' '40.440625' '45.523062' '32.715738']
['-86.80249' '-93.26501' '-122.143' '-79.99589' '-122.6765' '-117.1611']

In [27]:
m = samples.shape[0]
required = {'#SampleID': samples.loc[:,'ID'].values,
        'Title': np.repeat('MrOS_VitaminD', m),
        'Anonymized_Name': samples.loc[:,'ID'].values,
        'Scientific_Name': np.repeat('human gut metagenome', m),
        'Taxon_ID': np.repeat('Not applicable', m),
        #'Description': np.repeat('Not applicable', m),
        'Sample_Type': np.repeat('stool', m),
        'Geo_Loc_Name': samples.loc[:, 'SITE'].values,
        'Elevation': np.repeat('Not applicable', m),
        'Env_Biome': np.repeat('urban biome', m),
        'Env_Feature': np.repeat('human-associated habitat', m),
        'Env_Material': np.repeat('feces', m),
        'Env_Package': np.repeat('human-gut', m),
        'Latitude': Latitude,
        'Longitude': Longitude,
        'Collection_Timestamp': np.repeat('Not applicable', m),
        'DNA_Extracted': np.repeat('Not applicable', m),
        'Physical_Specimen_Location': np.repeat('Not applicable', m),
        'Physical_Specimen_Remaining': np.repeat('Not applicable', m),
        'Age': samples.loc[:,'V4AGE1'].values,
        'Age_Units': np.repeat('years', m),
        'Host_Subject_ID': np.repeat('Not applicable', m),
        'Host_Taxid': np.repeat('Not applicable', m),
        'Host_Scientific_Name': np.repeat('Homo sapiens', m),
        'Host_Common_Name': np.repeat('human', m),
        'Life_Stage': np.repeat('adult', m),
        'Sex': np.repeat('male', m),
        'Height': samples.loc[:, 'HWHGT'].values,
        'Height_Units': np.repeat('cm', m),
        'Weight': samples.loc[:, 'HWWGT'].values,
        'Weight_Units': np.repeat('kg', m),  
        'BMI': samples.loc[:, 'HWBMI'].values,
        'Body_Habitat': np.repeat('UBERON:feces', m),
        'Body_Site': np.repeat('UBERON:feces', m),
        'Body_Product': np.repeat('UBERON:feces', m)}

In [28]:
len(required)

34

In [29]:
sample_info = pd.concat([pd.DataFrame(required), samples], axis=1)
sample_info = pd.DataFrame(sample_info, columns = ['#SampleID', 'Title', 'Anonymized_Name',
          'Scientific_Name', 'Taxon_ID', 
          #'Description', 
          'Sample_Type', 'Geo_Loc_Name', 'Elevation',
          'Env_Biome', 'Env_Feature', 'Env_Material', 'Env_Package', 'Latitude', 'Longitude',
          'Collection_Timestamp', 'DNA_Extracted', 'Physical_Specimen_Location', 'Physical_Specimen_Remaining',
          'Age', 'Age_Units', 'Host_Subject_ID', 'Host_Taxid', 'Host_Scientific_Name', 'Host_Common_Name',
          'Life_Stage', 'Sex', 'Height', 'Height_Units', 'Weight', 'Weight_Units', 'BMI', 'Body_Habitat',
          'Body_Site', 'Body_Product', 'GIERACE', 'SITE', 'AMAMPT', 'AMPHIT', 'AMFVT', 'MIDATA', 'V4DATE',
          'GIMSTAT', 'MHDIAB', 'MHRHEU1', 'MHOA', 'MHCHF', 'MHMI', 'MHDEPR', 'MHDEPRT', 'TUDRAMT_REVISED', 'PQPSLMED', 
          'PQPSQUAL', 'PASCORE', 'QLCOMP', 'SLSLPHRS', 'SLEEPHRS', 'PQPEFFCY', 'PQPEFFIC', 'PQPSQI', 'PQBADSLP', 'TURSMOKE', 
          'M1ADEPR', 'M1BENZO', 'AMAMPT_C1', 'AMFVT_C1', 'AMPHIT_15SD'])

In [30]:
sample_info.shape

(599, 66)

In [31]:
sample_info.head(10)

,#SampleID,Title,Anonymized_Name,Scientific_Name,Taxon_ID,Sample_Type,Geo_Loc_Name,Elevation,Env_Biome,Env_Feature,...,PQPEFFCY,PQPEFFIC,PQPSQI,PQBADSLP,TURSMOKE,M1ADEPR,M1BENZO,AMAMPT_C1,AMFVT_C1,AMPHIT_15SD
0,BI0023,MrOS_VitaminD,BI0023,human gut metagenome,Not applicable,stool,Birmingham,Not applicable,urban biome,human-associated habitat,...,93.33,0:>85% EFFICIENCY,4.0,0: No,M:Not Applicable,0: No,0: No,NaN,NaN,NaN
1,BI0056,MrOS_VitaminD,BI0056,human gut metagenome,Not applicable,stool,Birmingham,Not applicable,urban biome,human-associated habitat,...,60,3:<65% EFFICIENCY,9.0,1: Yes,1:PAST,0: No,0: No,1.0,1.0,0.0
2,BI0131,MrOS_VitaminD,BI0131,human gut metagenome,Not applicable,stool,Birmingham,Not applicable,urban biome,human-associated habitat,...,90,0:>85% EFFICIENCY,2.0,0: No,1:PAST,0: No,0: No,1.0,1.0,0.0
3,BI0153,MrOS_VitaminD,BI0153,human gut metagenome,Not applicable,stool,Birmingham,Not applicable,urban biome,human-associated habitat,...,100,0:>85% EFFICIENCY,3.0,0: No,1:PAST,0: No,0: No,1.0,1.0,-1.0
4,BI0215,MrOS_VitaminD,BI0215,human gut metagenome,Not applicable,stool,Birmingham,Not applicable,urban biome,human-associated habitat,...,88.89,0:>85% EFFICIENCY,1.0,0: No,1:PAST,0: No,0: No,1.0,0.0,-1.0
5,BI0353,MrOS_VitaminD,BI0353,human gut metagenome,Not applicable,stool,Birmingham,Not applicable,urban biome,human-associated habitat,...,80,1:>=75% TO <=85% EFFICIENCY,6.0,1: Yes,1:PAST,0: No,0: No,1.0,1.0,0.0
6,BI0371,MrOS_VitaminD,BI0371,human gut metagenome,Not applicable,stool,Birmingham,Not applicable,urban biome,human-associated habitat,...,88.89,0:>85% EFFICIENCY,5.0,0: No,0:NO,0: No,0: No,1.0,0.0,0.0
7,BI0372,MrOS_VitaminD,BI0372,human gut metagenome,Not applicable,stool,Birmingham,Not applicable,urban biome,human-associated habitat,...,82.35,1:>=75% TO <=85% EFFICIENCY,3.0,0: No,0:NO,1: Yes,0: No,0.0,0.0,-1.0
8,BI0380,MrOS_VitaminD,BI0380,human gut metagenome,Not applicable,stool,Birmingham,Not applicable,urban biome,human-associated habitat,...,77.78,1:>=75% TO <=85% EFFICIENCY,11.0,1: Yes,1:PAST,0: No,0: No,0.0,0.0,0.0
9,BI0389,MrOS_VitaminD,BI0389,human gut metagenome,Not applicable,stool,Birmingham,Not applicable,urban biome,human-associated habitat,...,70,2:>=65% TO <75% EFFICIENCY,6.0,1: Yes,0:NO,1: Yes,0: No,1.0,1.0,0.0

## Match sample_name in two documents

In [32]:
id_prep=list(prep_info.loc[:,'#SampleID'].values)
id_sample=list(sample_info.loc[:,'#SampleID'].values)

In [33]:
# samples with metadata yet no sequencing data
for i in id_sample:
    if i not in id_prep:
        print(i)

In [34]:
# samples with sequencing data yet no metadata
no_sample_info = []
for j in id_prep:
    if j not in id_sample:
        no_sample_info.append(j)

In [35]:
print(len(no_sample_info))
print(no_sample_info)

1
['PO7100']

## Drop un-needed samples

In [36]:
# exclude PO7100, as it has no microbiome data (see Lily Liu's email on 08/07/2017)
prep_info = prep_info.loc[~prep_info['#SampleID'].isin(['PO7100'])]
sample_info = sample_info.loc[~sample_info['#SampleID'].isin(['PO7100'])]

In [37]:
print(prep_info.shape)
print(sample_info.shape)

(599, 11)
(599, 66)

## create Qiita prep and Qiime mapping files

In [38]:
prep_info.head(5)

,#SampleID,Barcode,LinkerPrimerSequence,Description,Experiment_Design_Description,Library_Construction_Protocol,Linker,Platform,Center_Name,Center_Project,Instrument_Model
0,BI0023,TCTGGTGACATT,GGACTACHVGGGTWTCTAAT,Orwoll.BI0023.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
1,BI0056,CAAGCATGCCTA,GGACTACHVGGGTWTCTAAT,Orwoll.BI0056.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
2,BI0131,CTATTTGCGACA,GGACTACHVGGGTWTCTAAT,Orwoll.BI0131.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
3,BI0153,ATCGGCGTTACA,GGACTACHVGGGTWTCTAAT,Orwoll.BI0153.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq
4,BI0215,CCTCTCGTGATC,GGACTACHVGGGTWTCTAAT,Orwoll.BI0215.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq

In [39]:
mapping = pd.merge(prep_info, sample_info, on='#SampleID')

In [40]:
print(prep_info.shape)
print(sample_info.shape)
print(mapping.shape)

(599, 11)
(599, 66)
(599, 76)

In [41]:
#mapping.rename(columns={'Sample_Name': '#SampleID'}, inplace=True)
mapping.rename(columns={'Barcode': 'BarcodeSequence'}, inplace=True)

In [42]:
mapping.shape

(599, 76)

In [43]:
mapping.head(5)

,#SampleID,BarcodeSequence,LinkerPrimerSequence,Description,Experiment_Design_Description,Library_Construction_Protocol,Linker,Platform,Center_Name,Center_Project,...,PQPEFFCY,PQPEFFIC,PQPSQI,PQBADSLP,TURSMOKE,M1ADEPR,M1BENZO,AMAMPT_C1,AMFVT_C1,AMPHIT_15SD
0,BI0023,TCTGGTGACATT,GGACTACHVGGGTWTCTAAT,Orwoll.BI0023.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,...,93.33,0:>85% EFFICIENCY,4.0,0: No,M:Not Applicable,0: No,0: No,NaN,NaN,NaN
1,BI0056,CAAGCATGCCTA,GGACTACHVGGGTWTCTAAT,Orwoll.BI0056.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,...,60,3:<65% EFFICIENCY,9.0,1: Yes,1:PAST,0: No,0: No,1.0,1.0,0.0
2,BI0131,CTATTTGCGACA,GGACTACHVGGGTWTCTAAT,Orwoll.BI0131.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,...,90,0:>85% EFFICIENCY,2.0,0: No,1:PAST,0: No,0: No,1.0,1.0,0.0
3,BI0153,ATCGGCGTTACA,GGACTACHVGGGTWTCTAAT,Orwoll.BI0153.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,...,100,0:>85% EFFICIENCY,3.0,0: No,1:PAST,0: No,0: No,1.0,1.0,-1.0
4,BI0215,CCTCTCGTGATC,GGACTACHVGGGTWTCTAAT,Orwoll.BI0215.BI,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,...,88.89,0:>85% EFFICIENCY,1.0,0: No,1:PAST,0: No,0: No,1.0,0.0,-1.0

In [44]:
# move 'Description' to the end
cols = list(mapping)
cols.insert(mapping.shape[1], cols.pop(cols.index('Description')))
mapping = mapping.loc[:, cols]

In [45]:
mapping.head(5)

,#SampleID,BarcodeSequence,LinkerPrimerSequence,Experiment_Design_Description,Library_Construction_Protocol,Linker,Platform,Center_Name,Center_Project,Instrument_Model,...,PQPEFFIC,PQPSQI,PQBADSLP,TURSMOKE,M1ADEPR,M1BENZO,AMAMPT_C1,AMFVT_C1,AMPHIT_15SD,Description
0,BI0023,TCTGGTGACATT,GGACTACHVGGGTWTCTAAT,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq,...,0:>85% EFFICIENCY,4.0,0: No,M:Not Applicable,0: No,0: No,NaN,NaN,NaN,Orwoll.BI0023.BI
1,BI0056,CAAGCATGCCTA,GGACTACHVGGGTWTCTAAT,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq,...,3:<65% EFFICIENCY,9.0,1: Yes,1:PAST,0: No,0: No,1.0,1.0,0.0,Orwoll.BI0056.BI
2,BI0131,CTATTTGCGACA,GGACTACHVGGGTWTCTAAT,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq,...,0:>85% EFFICIENCY,2.0,0: No,1:PAST,0: No,0: No,1.0,1.0,0.0,Orwoll.BI0131.BI
3,BI0153,ATCGGCGTTACA,GGACTACHVGGGTWTCTAAT,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq,...,0:>85% EFFICIENCY,3.0,0: No,1:PAST,0: No,0: No,1.0,1.0,-1.0,Orwoll.BI0153.BI
4,BI0215,CCTCTCGTGATC,GGACTACHVGGGTWTCTAAT,16S stool samples sequenced for MrOS Vitamin D...,16S rRNA v4,GT,Illumina,BI,MrOS,Illumina MiSeq,...,0:>85% EFFICIENCY,1.0,0: No,1:PAST,0: No,0: No,1.0,0.0,-1.0,Orwoll.BI0215.BI

In [46]:
mapping.columns

Index(['#SampleID', 'BarcodeSequence', 'LinkerPrimerSequence',
       'Experiment_Design_Description', 'Library_Construction_Protocol',
       'Linker', 'Platform', 'Center_Name', 'Center_Project',
       'Instrument_Model', 'Title', 'Anonymized_Name', 'Scientific_Name',
       'Taxon_ID', 'Sample_Type', 'Geo_Loc_Name', 'Elevation', 'Env_Biome',
       'Env_Feature', 'Env_Material', 'Env_Package', 'Latitude', 'Longitude',
       'Collection_Timestamp', 'DNA_Extracted', 'Physical_Specimen_Location',
       'Physical_Specimen_Remaining', 'Age', 'Age_Units', 'Host_Subject_ID',
       'Host_Taxid', 'Host_Scientific_Name', 'Host_Common_Name', 'Life_Stage',
       'Sex', 'Height', 'Height_Units', 'Weight', 'Weight_Units', 'BMI',
       'Body_Habitat', 'Body_Site', 'Body_Product', 'GIERACE', 'SITE',
       'AMAMPT', 'AMPHIT', 'AMFVT', 'MIDATA', 'V4DATE', 'GIMSTAT', 'MHDIAB',
       'MHRHEU1', 'MHOA', 'MHCHF', 'MHMI', 'MHDEPR', 'MHDEPRT',
       'TUDRAMT_REVISED', 'PQPSLMED', 'PQPSQUAL', 'PASCORE', 'QLCOMP',
       'SLSLPHRS', 'SLEEPHRS', 'PQPEFFCY', 'PQPEFFIC', 'PQPSQI', 'PQBADSLP',
       'TURSMOKE', 'M1ADEPR', 'M1BENZO', 'AMAMPT_C1', 'AMFVT_C1',
       'AMPHIT_15SD', 'Description'],
      dtype='object')

In [47]:
# convert to proper variable types (categorical or continuous)
vars_cat = np.array(['BarcodeSequence', 'LinkerPrimerSequence', 'Experiment_Design_Description',
             'Library_Construction_Protocol', 'Linker', 'Platform', 'Center_Name', 'Center_Project', 'Instrument_Model',
             'Title', 'Anonymized_Name', 'Scientific_Name', 'Taxon_ID', 'Sample_Type', 'Geo_Loc_Name', 'Elevation', 'Env_Biome',
             'Env_Feature', 'Env_Material', 'Env_Package', 'Collection_Timestamp', 'DNA_Extracted', 'Physical_Specimen_Location',
             'Physical_Specimen_Remaining', 'Age_Units', 'Host_Subject_ID', 'Host_Taxid','Host_Scientific_Name', 'Host_Common_Name',
             'Life_Stage', 'Sex', 'Height_Units', 'Weight_Units', 'Body_Habitat', 'Body_Site', 'Body_Product', 'GIERACE', 'SITE',
             'SLEEPHRS', 'MIDATA', 'AMPHIT_15SD', 'MHDIAB', 'MHRHEU1', 'MHOA', 'MHCHF', 'MHMI', 'MHDEPR', 'GIMSTAT',
             'MHDEPRT', 'TUDRAMT_REVISED', 'PQPSQUAL', 'QLCOMP', 'PQBADSLP', 'TURSMOKE', 'M1ADEPR', 'M1BENZO', 'Description',
             'AMAMPT_C1', 'AMFVT_C1', 'V4DATE', 'PQPSLMED', 'PQPEFFIC'])
vars_cts = np.array(['Latitude', 'Longitude', 'Age', 'Height', 'Weight', 'BMI', 'PASCORE', 'AMAMPT', 
             'AMPHIT', 'AMFVT',  'PQPSQI', 'PQPEFFCY', 'SLSLPHRS'])

In [48]:
df = mapping.copy()
df[vars_cts] = df[vars_cts].apply(pd.to_numeric, errors='coerce')
df[vars_cat] = df[vars_cat].apply(lambda x: x.astype('category'))

In [49]:
prep_info.to_csv('../data/prep_sleep.txt', sep= '\t', index=False)
df.to_csv('../data/mapping_sleep.txt', sep= '\t', na_rep='Missing:not collected', index=False)